html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}


.mainPage {
    display: flex;
    flex: 1;
    width: 90%;
    margin: auto;
}

.chartMenu,
.pricingMenu {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0px 4px 6px #0000001A;
    padding: 2%;
    margin: 20px; 
}

.chartMenu {
    flex: 2;
}

.pricingMenu {
    flex: 1;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4% 5%;
}

.dropdownContainer {
    display: flex;
    gap: 12px;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.contentContainer {
    flex: 4;
}

.headerText {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: "#333333";
}

.pricingContent {
    display: flex;
    flex: 7;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 0 2%;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
