.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-content {
    flex: 1;
    margin: 5% auto;
    width: 90%;
    max-width: 1400px;
}

header, footer {
    padding: 20px;
    background-color: #f5f5f5;
}
